.env
nginx/certs
node_modules/
cookies.txt
tests/node_modules
tests/package-lock.json
tests/package.json
.socketio-test
data/postgres/
apps/api/prisma/migrations
transcendence.pdf
dist/
build/
*.log
.DS_Store
.vscode
.idea
.gabriel/
data/avatars

notes